extends shared/layout
block content
	section
		div(class="container")
			div(class="row")
				div(class="col-md-4")
					div(id="carousel-one-generic" class="carousel slide" data-ride="carousel")
						div(class="carousel-inner")
							div(class="item active")
								a(href="/categories/Public buildings")
									img(src="/Images/Public buildings/BIG_BROTHER/15.jpg" class="img-responsive" alt="...")
								div(class="carousel-caption")
						h3
							a(href="/categories/Public buildings") #{constantsSet.menu.dropdown.public} 
					div(id="carousel-two-generic" class="carousel slide" data-ride="carousel")
						div(class="carousel-inner")
							div(class="item active")
								a(href="/categories/Commercial Buildings")
									img(src="/Images/Commercial buildings/ARIANA/3.jpg" class="img-responsive" alt="...")
								div(class="carousel-caption")
						h3
							a(href="/categories/Commercial Buildings") #{constantsSet.menu.dropdown.commercial}
				div(class="col-md-4")
					div(id="carousel-three-generic" class="carousel slide" data-ride="carousel")
						div(class="carousel-inner")
							div(class="item active")
								a(href="/categories/Hotels")
									img(src="/Images/Hotels and Resorts/HOTEL_HASKOVO/4.noshtnite svetlini se otrazjavat vav vanshnija basein.jpg" class="img-responsive" alt="...")
								div(class="carousel-caption")
						h3
							a(href="/categories/Hotels") #{constantsSet.menu.dropdown.hotels}
						div(id="carousel-two-generic" class="carousel slide" data-ride="carousel")
							div(class="carousel-inner")
								div(class="item active")
									a(href="/categories/Offices") 
										img(src="/Images/Office buildings/OFIS_1/3.JPG" class="img-responsive" alt="...")
									div(class="carousel-caption")
							h3
								a(href="/categories/Offices") #{constantsSet.menu.dropdown.office}
						div(id="carousel-four-generic" class="carousel slide" data-ride="carousel")
							div(class="carousel-inner")
								div(class="item active")
									a(href="/categories/Interiors")
										img(src="/Images/Interiors/DISKOTEKA_SVOGE/_MG_6250.JPG" class="img-responsive" alt="...")
									div(class="carousel-caption")
								div(class="item")
									a(href="/categories/Interiors")
										img(src="/Images/Interiors/JOYA/img_9931.jpg" class="img-responsive" alt="...")
									div(class="carousel-caption")
								div(class="item")
									a(href="/categories/Interiors")
										img(src="/Images/Interiors/KRISTAL/IMG_6160.JPG" class="img-responsive" alt="...")
									div(class="carousel-caption")
							h3
								a(href="/categories/Interiors") #{constantsSet.menu.dropdown.interiors}
				div(class="col-md-4")
					div(id="carousel-five-generic" class="carousel slide" data-ride="carousel")
						div(class="carousel-inner")
							div(class="item active")
								a(href="/categories/Residential buildings")
									img(src="/Images/Houses/3BR.KUSHTI SAMOKOW/A4.jpg" class="img-responsive" alt="...")
								div(class="carousel-caption")
							div(class="item")
								a(href="/categories/Residential buildings")
									img(src="/Images/Houses/16.BR.KUSHTI/View 1_6.jpg" class="img-responsive" alt="...")
								div(class="carousel-caption")
							div(class="item")
								a(href="/categories/Residential buildings")
									img(src="/Images/Houses/KUSHTA_BANKIA/K01.jpg" class="img-responsive" alt="...")
								div(class="carousel-caption")
							div(class="item")
								a(href="/categories/Residential buildings")
									img(src="/Images/Houses/KUSHTA_DRAGALEVCI/del2.jpg" class="img-responsive" alt="...")
								div(class="carousel-caption")
							div(class="item")
								a(href="/categories/Residential buildings")
									img(src="/Images/Houses/KUSHTA_LOZENEC/DSC_5412.JPG" class="img-responsive" alt="...")
								div(class="carousel-caption")
						h3
							a(href="/categories/Residential buildings") #{constantsSet.menu.dropdown.residential}
						div(id="carousel-six-generic" class="carousel slide" data-ride="carousel")
							div(class="carousel-inner")
								div(class="item-active")
									a(href="/categories/Industrial Buildings")
										img(src="/Images/Factories/FACTORY_2_DUVETICA/UyGCDV47pAsAIqi1uVfCHhEqOgu8uBSP.jpg" class="img-responsive" alt="...")
									div(class="carousel-caption")
							h3
								a(href="/categories/Industrial Buildings") #{constantsSet.menu.dropdown.industrial}
		